@import 'mixins';
@import 'variables';

@import 'breakpoint-sass';

.page-container {
  display: flex;
  margin-top: 50px;
  min-height: 100vh;
}
.page-title {
  padding: 25px 0;
  margin: 0 auto;
}
.page {
  width: 80%;
  height: 100%;
  background-color: white;
  margin: 25px auto;
  padding: 25px;
  flex: 0 0 auto;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  @include breakpoint($medium) {
    margin: 25px auto;
    max-width: 768px;
  }
  @include breakpoint($large) {
    max-width: 1024px;
  }
}

.blue {
  @include diagonal-gradient(#d0d3ed, #addeff, #f4c8dc);
}
.yellow {
  @include diagonal-gradient(#f8ead8, #ffffc4, #f2d7ec);
}
.orange {
  @include diagonal-gradient(#ffe8a4, #ffd093, #ffffb5);
}
.pink {
  @include diagonal-gradient(#d8d2db, #b4eddb, #ffb5dc);
}
.green {
  @include diagonal-gradient(#cccec2, #e4efaa, #b4eddb);
}
.purple {
  @include diagonal-gradient(#d8c1c6, #c0b8d1, #f5ccba);
}

.blue-green {
  @include diagonal-gradient(#b8ddc4, #d9f7a3, #99c4e5);
}
