doctype html
html(lang='fr')
    head
        block title
        meta(name='description', content=description)
        meta(name='viewport', content='user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width')
        meta(http-equiv='Cache-control', content='public')
        //link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Roboto:100|Open+Sans')
        link(rel='stylesheet', type='text/css', href='./css/fonts.css')
        link(rel='stylesheet', type='text/css', href='./css/resum.css')
        link(rel='stylesheet', type='text/css', media='print', href='./css/print.css')
        link(rel='icon', href='./favicon.ico',type='image/x-icon')

        block head_css

    body#resum
        .wrapper
            block menu
                include ./inc/menu.jade
            #main.container.scrollable
                block content

    block bottom_js
        script(src='./js/resum.js')
