@menuBorderColor:#999;
@menuBorderColorHover:#00B7FF;
@menuBackgroundColor:#333;
@pageBackgroundColor:white;
@menuTextColor:white;


#menu{
    position: fixed;
    top: 0;
    background: @menuBackgroundColor;
    width: 100%;
    z-index:1;

      h1{
        color:white;
      }
}
img.gravatar{
        border-radius:40px;
        border:4px solid @menuBackgroundColor;
        position:fixed;
        top:-10px;
        left:-5px;
        z-index: 2;
    }
ul.tabs {

    line-height: 1em;
    overflow-x: hidden;
    z-index:3;
    li {
        background: @menuBackgroundColor;
        border-width: 0px 2px 2px;
        border-color: transparent @menuBackgroundColor @menuBorderColorHover;
        list-style-type: none;
        display: block;
        float: left;
        border-bottom: 2px @menuBorderColor solid;
        position: relative;
        margin: 0 1px;
    }
    li.title {
        border-bottom-color: @menuBackgroundColor;
    }
    li.title a {
        color: @menuBorderColorHover;
    }
    li.title:after, li.title a:after, ul.list {
        display: none;
    }
    li:hover, li.active {
        background: #444;
    }
    li:hover, li.active, li:hover:after {
        border-bottom-color: @menuBorderColorHover;
    }
    li a {
        color: white;
        padding: 1em;
        display: block;
        text-decoration: none;
    }
/*two arrows*/
    li:after, li a:after {
        content: "";
        display: block;
        left: 45%;
        width: 0;
        height: 0;
        border: 5px transparent solid;
        position: absolute;
    }
    li:after {
        bottom: 0px;
        border-color: transparent transparent @menuBorderColor transparent;
        z-index: 4;
    }
    li a:after {
        bottom: -3px;
        border-color: transparent transparent @pageBackgroundColor transparent;
        z-index: 5;
    }
}