/* == colors == */
.blue {
    background-color: #36ACFF;
}
.yellow {
    background-color: #FFD400;
}
.orange {
    background-color: #EC6500;
}
.pink {
    background-color: #FF40A7;
}
.green {
    background-color: #A9C705;
}
.purple {
    background-color: #853C85;
}