
<div id="cloud_{{cloud.id}}">
    <div class="cloud top">&nbsp;</div>
    <div class="cloud left">&nbsp;</div>
    <div class="cloud right">&nbsp;</div>
    <div class="cloud bottom">&nbsp;</div>
    <div class="cloud center">&nbsp;</div>
    <div class="cloud icon">&nbsp;</div>
</div>