header
    h1 Benjamin Legrand
        span.small  Resume
    br
    h2 Concepteur D&eacute;veloppeur
    p Front-end, html5, css3, java, php etc...

    ul.tabs
    if debug
        li
            a(href='#debug') Debug
            ul#debugZone(style='display:none;')
                li
                    | app
                    ul
                        li {{ app.name }}
                li
                    | rootUri
                    ul
                        li {{ rootUri }}
                li
                    | debug
                    ul
                        li {{ debug }}
                li
                    | assetUri
                    ul
                        li {{ assetUri }}
                li
                    | resourceUri
                    ul
                        li {{ resourceUri }}
