img.gravatar(src='http://www.gravatar.com/avatar/cdb0added8646a655eff90c676b22467')
header#menu
    
    h1 Benjamin Legrand
    
    #burger
        a.menu
            span Menu
            
ul.tabs
    if debug
        li
            a(href='#debug') Debug
            ul#debugZone(style='display:none;')
                li
                    | app
                    ul
                        li {{ app.name }}
                li
                    | rootUri
                    ul
                        li {{ rootUri }}
                li
                    | debug
                    ul
                        li {{ debug }}
                li
                    | assetUri
                    ul
                        li {{ assetUri }}
                li
                    | resourceUri
                    ul
                        li {{ resourceUri }}
    each page in pages
        li
            - var id = '#'+page.key
            a(data-id=id,href=page.key+'.html', title=page.title)
                = page.title
