img.gravatar(src='./img/avatar-16x16.png')
header#menu
    
    h1 Benjamin Legrand
    
    #burger
        a.menu
            span Menu
            
ul#tabs.tabs
    each page in pages
        li
            - var id = '#' + page.key
            a(data-id=id,href=page.key+'.html', title=page.title)
                = page.title
