<header class="menu">
    <img class="gravatar" src="http://www.gravatar.com/avatar/cdb0added8646a655eff90c676b22467"/>
    <h1 class="menu-title">Benjamin Legrand</h1>
    <nav class="menu-items">
        <bl-menu-item [routerLink]="['articles']">Home</bl-menu-item>
        <bl-menu-item [routerLink]="['skills']">Skills</bl-menu-item>
        <bl-menu-item [routerLink]="['experience']">Experience</bl-menu-item>
        <bl-menu-item [routerLink]="['projects']">Projects</bl-menu-item>
        <bl-menu-item [routerLink]="['about-me']">About</bl-menu-item>
    </nav>
</header>
