# Security headers
<IfModule mod_headers.c>
    # Strict-Transport-Security
	Header always set Strict-Transport-Security "max-age=63072000; includeSubDomains"
	Header set X-Content-Type-Options "nosniff"
	Header set X-Frame-Options "SAMEORIGIN"
	Header set X-XSS-Protection "1; mode=block"
</IfModule>

# BROWSER CACHING USING CACHE-CONTROL HEADERS
<IfModule mod_headers.c>
    # One year for image and video files
    <FilesMatch "\.(flv|gif|ico|jpg|jpeg|mp4|mpeg|png|svg|swf|webp)$">
        Header set Cache-Control "max-age=31536000"
    </FilesMatch>

    # One year for JavaScript and PDF files
    <FilesMatch "\.(js|pdf)$">
        Header set Cache-Control "max-age=31536000"
    </FilesMatch>

    # One year for CSS files
    <FilesMatch "\.(css)$">
        Header set Cache-Control "max-age=31536000"
    </FilesMatch>
</IfModule>

RewriteEngine On
# Redirect to www subdomain
RewriteCond %{HTTP_HOST} !^www\. [NC]
RewriteRule ^(.*)$ https://www.%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

# If an existing asset or directory is requested go to it as it is
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -f [OR]
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -d
RewriteRule ^ - [L]

# If the requested resource doesn't exist, use index.html
RewriteRule ^ /index.html
