{% extends "layout.twig" %}

{% block content %}
<section id="index" class="blue">&nbsp;</section>
<section id="whoami" class="yellow"></section>
<section id="timeline" class="orange"></section>
<section id="projects" class="pink"></section>
<section id="social" class="green"></section>
<section id="contact" class="purple"></section>
<section class="row">
    <select id="iconSelect"></select>
    <div id="cloud">
        <div class="cloud top">&nbsp;</div>
        <div class="cloud left">&nbsp;</div>
        <div class="cloud right">&nbsp;</div>
        <div class="cloud bottom">&nbsp;</div>
        <div class="cloud center">&nbsp;</div>
        <div class="cloud icon">&nbsp;</div>
    </div>
</section>
{% endblock %}