{% extends "layout.twig" %}

{% block content %}
<section id="index" class="blue"><h2>Resume</h2>&nbsp;</section>
<section id="whoami" class="yellow"></section>
<section id="timeline" class="orange"></section>
<section id="projects" class="pink">
    <dl>
        {% for i in [1,2,3] %}
        <dt>Title</dt>
        <dd><img src="http://placekitten.com/g/75/75"/></dd>
        {% endfor %}
    </dl>

</section>
<section id="social" class="green"></section>
<section id="contact" class="purple"></section>
<section class="row">
    <select id="iconSelect"></select>

    <div id="cloud">
        <div class="cloud top">&nbsp;</div>
        <div class="cloud left">&nbsp;</div>
        <div class="cloud right">&nbsp;</div>
        <div class="cloud bottom">&nbsp;</div>
        <div class="cloud center">&nbsp;</div>
        <div class="cloud icon">&nbsp;</div>
    </div>
</section>
<footer>
    <p>Code and design by Benjamin Legrand with the help of : </p>
    <ul>
        <li>
            <a href="http://lesscss.org/" target="_blank">
                {LESS}
            </a>
        </li>
        <li>
            <a href="http://semantic.gs/" target="_blank">
                Semantic grid
            </a>
        </li>
        <li>
            <a href="http://lesshat.com/" target="_blank">
                Lesshat
            </a>
        </li>
        <li>
            <a href="http://www.slimframework.com/" target="_blank">Slim framework</a>
        </li>
        <li>
            <a href="http://twig.sensiolabs.org/" target="_blank">Twig</a>
        </li>
        <li>
            <a href="http://cubiq.org/iscroll-4" target="_blank">
                iScroll
            </a>
        </li>
        <li>
            <a href="http://angularjs.org/" target="_blank">
                AngularJS
            </a>
        </li>
    </ul>
    <!-- tutos and ressources :
    http://mobile.tutsplus.com/tutorials/mobile-web-apps/introduction-to-iscroll/
    http://plnkr.co
    http://heptine2.rssing.com/browser.php?indx=1376735&item=143
    http://heptine2.rssing.com/chan-1376735/all_p8.html
    http://help.slimframework.com/discussions/problems/1131-advise-on-how-to-make-it-work-the-fllowing-setup-slimtwigassetic
    https://github.com/kriswallsmith/assetic

for zell :
http://deepliquid.com/content/Jcrop.html    http://www.verious.com/qa/image-crop-with-angular-js/
   http://stackoverflow.com/questions/14319177/image-crop-with-angularjs
-->
</footer>
{% endblock %}