/**
*	CSS http://cv.jibhaine.fr
*	
*	
**/
*{padding:0;margin:0;border:none;color:#FFF;font-family:Trebuchet,Helvetica,sans-serif;}
body{
background:#ebebeb url(img/fond.png) repeat-x;
}

h1,h2,h3,h4,h5,h6{font-family:'Century Gothic',serif;}
ul, li{list-style-type:none;}


#page{width:400px;margin:200px auto;}

#menu{width:600px;margin:100px auto 0 auto;}
#menu li{display:inline;}
#menu img{}

#menu_img{width:100%;height:63px;}
#menu_img img{float:right;}
#bulle_cv{
	position:absolute;left:10px;top:160px;
	width:220px;
	height:120px;
	background:transparent url(img/cv1.png) no-repeat;
}

.bulle{
	width:400px;
	padding-bottom:50px;
	background:transparent url(img/content_bas.png) no-repeat center bottom;
}
.bulle h3{
	width:400px;
	height:33px;
	padding-top:12px;
	text-align:center;
	background:transparent url(img/content_haut.png) no-repeat center top;
	color:white;
}
.bulle .fond{
	padding:0px 20px;
	background:transparent url(img/content_fond.png) repeat-y center bottom;
	color:#DDD;
}





em{
	position:absolute;
	left:-30;
	width:220px;
	height:120px;
	background:transparent url(img/bulle.png) no-repeat;
	text-align: center;
	padding: 20px 12px 10px;
	font-style: normal;
	z-index: 2;
	display: none;
}




.none,em{display:none;}